*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start style navbar */
.container-nav {
  width: 100%;
  padding: 15px 55px 15px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-nav .title-nav {
  display: flex;
}

.container-nav .title-nav .icons-nav {
  margin-right: 7px;
}

.container-nav .title-nav .icons-nav img {
  width: 35px;
}

.container-nav .title-nav .title {
  font-size: large;
  font-family: "Russo One", sans-serif;
}

.container-nav .cons-list-symbol {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.container-nav .cons-list-symbol .navbar {
  width: 55%;
}

.container-nav .cons-list-symbol .navbar .list-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.container-nav .cons-list-symbol .navbar .list-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-nav .cons-list-symbol .navbar .list-nav li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "Gothic A1", sans-serif;
  color: black;
}

.container-nav .cons-list-symbol .navbar .list-nav li:hover {
  border: 1px solid red;
  padding: 4px 5px;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

.container-nav .cons-list-symbol .symbol-nav {
  display: flex;
  column-gap: 20px;
}

.container-nav .cons-list-symbol .symbol-nav .icons-search {
  display: flex;
  padding: 5px 7px 5px 7px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
}

.container-nav .cons-list-symbol .symbol-nav .icons-search:hover {
  background-color: rgb(165, 0, 0);
  transition: 0.6s ease-in-out;
  color: white;
}
.container-nav .cons-list-symbol .symbol-nav .icons-cart {
  display: flex;
  padding: 5px 7px 5px 7px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
}
.container-nav .cons-list-symbol .symbol-nav .icons-cart:hover {
  background-color: rgb(165, 0, 0);
  transition: 0.6s ease-in-out;
  color: white;
}
.container-nav .cons-list-symbol .symbol-nav .icons-person {
  display: flex;
  padding: 5px 7px 5px 7px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
}
.container-nav .cons-list-symbol .symbol-nav .icons-person:hover {
  background-color: rgb(165, 0, 0);
  transition: 0.6s ease-in-out;
  color: white;
}

.container-nav .hamburger {
  width: auto;
  height: 20px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.container-nav .hamburger .hamburger-line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  border-radius: 3px;
}
/* end style navbar */

/* start hero style */
.container-hero {
  width: 100%;
  padding: 80px 55px 25px 55px;
  display: flex;
}

.container-hero .info-hero {
  width: 50%;
  padding: 15px;
}

.container-hero .info-hero .sub-hero {
  font-size: 23px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
  font-family: "Gothic A1", sans-serif;
}

.container-hero .info-hero .title-hero {
  font-size: x-large;
  font-family: "Russo One", sans-serif;
  margin-bottom: 20px;
}

.container-hero .info-hero .description-hero {
  font-size: 19px;
  color: rgb(68, 68, 68);
  margin-bottom: 35px;
  font-family: "Gothic A1", sans-serif;
}

.container-hero .info-hero .order-now button {
  border: none;
  background-color: red;
  padding: 15px 24px 15px 24px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.container-hero .img-hero {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.container-hero .img-hero .container-img-hero {
  margin-left: 160px;
  display: grid;
  grid-template-areas:
    "img-one  img-two"
    "img-tri img-four";
  gap: 5px;
}

.container-hero .img-hero .container-img-hero .img-one {
  grid-area: img-one;
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}
.container-hero .img-hero .container-img-hero .img-one img {
  width: 190px;
}

.container-hero .img-hero .container-img-hero .img-two {
  grid-area: img-two;
  display: flex;
  cursor: pointer;
  border-radius: 15px;
}

.container-hero .img-hero .container-img-hero .img-two img {
  border-radius: 15px;
  width: 150px;
}
.container-hero .img-hero .container-img-hero .img-tri {
  grid-area: img-tri;
  display: flex;
  width: 190px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.container-hero .img-hero .container-img-hero .img-tri img {
  border-radius: 15px;
  width: 100%;
}
.container-hero .img-hero .container-img-hero .img-four {
  grid-area: img-four;
  cursor: pointer;
  width: 190px;
}
.container-hero .img-hero .container-img-hero .img-four img {
  border-radius: 15px;
  width: 150px;
}
/* end hero style */

/* start menu style */

.container-menu {
  width: 100%;
  padding: 20px 55px 20px 55px;
  background-color: rgb(199, 35, 35);
  display: flex;
  column-gap: 15px;
  overflow: scroll;
  margin-top: 30px;
}

.container-menu .card-menu {
  width: 300px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7px 30px;
  cursor: pointer;
}

.container-menu .card-menu .img-menu img {
  width: 150px;
}

.container-menu .card-menu .title-menu {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 15px;
}

.container-menu .card-menu:hover {
  background-color: rgb(199, 35, 35);
  border: 2px solid white;
  transition: 0.5s ease-in-out;
  color: white;
}
/* end menu style */

/* start about style */
.container-about {
  width: 100%;
  padding: 35px 55px 35px 55px;
  display: flex;
  background-color: rgb(238, 238, 238);
}

.container-about .img-about {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-about .info-about {
  padding-top: 80px;
  padding-left: 20px;
}

.container-about .info-about .sub-about {
  font-size: 23px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
  font-family: "Gothic A1", sans-serif;
}

.container-about .info-about .title-about {
  font-size: x-large;
  font-family: "Russo One", sans-serif;
  margin-bottom: 20px;
}
.container-about .info-about .description-about {
  font-size: 19px;
  color: rgb(68, 68, 68);
  margin-bottom: 35px;
  font-family: "Gothic A1", sans-serif;
  text-align: justify;
}
.container-about .info-about .icons-about {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.container-about .info-about .icons-about .card-icons {
  padding: 10px 35px 10px 35px;
  display: flex;
  width: 280px;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.container-about .info-about .icons-about .card-icons img {
  width: 40px;
}

.container-about .info-about .icons-about .card-icons .title-icons {
  font-weight: 400;
  font-family: "Russo One", sans-serif;
  text-transform: capitalize;
}
/* end about style */

/* start populer style */
.container-populer {
  width: 100%;
  padding: 70px 55px 25px 55px;
  margin-bottom: 35px;
}
.container-populer .populer-title {
  font-family: "Russo One", sans-serif;
  margin-bottom: 45px;
}
.container-populer .populer-title h2 .border-title {
  border-bottom: 5px solid rgb(223, 28, 28);
}

.container-populer .wrapper-populer {
  width: 100%;
  display: flex;
  column-gap: 40px;
}

.container-populer .wrapper-populer .card-popouler {
  overflow: hidden;
  border-radius: 10px;
  width: 385px;
  height: 520px;
  display: flex;
  position: relative;
}

.container-populer .wrapper-populer .card-popouler .info-populer {
  position: absolute;
  padding: 35px;
}

.container-populer
  .wrapper-populer
  .card-popouler
  .info-populer
  .description-populer
  h2 {
  color: white;
  font-family: "Russo One", sans-serif;
  font-weight: 600;
  color: rgb(255, 8, 8);
  margin-bottom: 10px;
  text-decoration: underline;
}
.container-populer
  .wrapper-populer
  .card-popouler
  .info-populer
  .description-populer {
  color: white;
  font-weight: 600;
  font-family: "Gothic A1", sans-serif;
}

.container-populer .wrapper-populer .card-popouler .info-populer .order-now {
  margin-top: 30px;
}
.container-populer
  .wrapper-populer
  .card-popouler
  .info-populer
  .order-now
  button {
  border: none;
  background-color: rgb(235, 34, 34);
  color: white;
  padding: 15px 35px 15px 35px;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Gothic A1", sans-serif;
  cursor: pointer;
}
/* end populer style */

/* footer */
.container-footer {
  width: 100%;
  padding: 35px 55px 25px 55px;
  background-color: rgb(29, 27, 27);
}

.container-footer .wrapper {
  display: flex;
  width: 100%;
  column-gap: 45px;
}

.container-footer .wrapper .info-wrapper {
  width: 35%;
}

.container-footer .wrapper .info-wrapper .title-wrapper {
  color: white;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  margin-bottom: 19px;
}

.container-footer .wrapper .info-wrapper .description-wrapper {
  color: rgb(211, 211, 211);
  font-size: 17px;
  text-align: justify;
}

.container-footer .wrapper .open-hours {
  width: 25%;
}

.container-footer .wrapper .open-hours .title-hours {
  color: white;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.container-footer .wrapper .open-hours .day-open {
  display: flex;
  column-gap: 95px;
  text-transform: capitalize;
}

.container-footer .wrapper .open-hours .day-open .day {
  color: rgb(211, 211, 211);
  font-size: 17px;
  line-height: 28px;
}

.container-footer .wrapper .open-hours .day-open .hours {
  color: rgb(211, 211, 211);
  font-size: 17px;
  line-height: 28px;
}

.container-footer .wrapper .news-letter {
  width: 35%;
}

.container-footer .wrapper .news-letter .title-news {
  color: white;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  margin-bottom: 19px;
}

.container-footer .wrapper .news-letter .descrip-news {
  color: rgb(211, 211, 211);
  font-size: 17px;
  text-align: justify;
  margin-bottom: 20px;
}

.container-footer .wrapper .news-letter .call-news {
  display: flex;
  flex-direction: column;
}

.container-footer .wrapper .news-letter .call-news input {
  height: 50px;
  width: 330px;
  padding: 10px;
  border: 1px solid salmon;
  font-size: 17px;
  margin-bottom: 10px;
  background-color: transparent;
  font-family: "Gothic A1", sans-serif;
  color: white;
}
.container-footer .wrapper .news-letter .call-news button {
  height: 50px;
  width: 330px;
  padding: 10px;
  border: 1px solid salmon;
  font-size: 17px;
  margin-bottom: 10px;
  background-color: rgb(150, 0, 0);
  font-family: "Gothic A1", sans-serif;
  color: white;
  cursor: pointer;
}

.container-footer .owner {
  margin-top: 45px;
  margin-bottom: 25px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: rgb(211, 211, 211);
  font-size: 18px;
}

.container-footer .owner .author {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .container-nav {
    padding: 15px 35px 15px 0px;
    position: relative;
  }

  .container-nav .title-nav {
    padding-left: 35px;
  }
  .container-nav .title-nav .icons-nav img {
    width: 28px;
  }

  .container-nav .title-nav .title h2 {
    font-size: 23px;
  }

  .container-nav .cons-list-symbol .navbar {
    width: 100%;
    height: 26vh;
    align-items: center;
  }

  .container-nav .cons-list-symbol .navbar .list-nav {
    row-gap: 25px;
  }
  .container-nav .cons-list-symbol .navbar .list-nav li:hover {
    border: none;
    padding: 0px;
  }

  .container-nav .cons-list-symbol .navbar .list-nav li a:hover {
    color: brown;
  }
  .container-nav .cons-list-symbol {
    width: 100%;
    height: auto;
    top: 100%;
    position: absolute;
    background-color: white;
    flex-direction: column;
    display: none;
    align-items: center;
    padding: 15px 0px 35px 0px;
    background-color: white;
    border-bottom: 1px solid rgb(59, 59, 59);
  }

  .container-nav .cons-list-symbol .navbar .list-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 5px 10px 5px 10px;
  }

  .container-nav .hamburger {
    display: flex;
  }
  .container-nav .cons-list-symbol .symbol-nav {
    column-gap: 0px;
    display: flex;
    gap: 10px;
    margin-top: 25px;
    flex-direction: row;
  }

  .container-nav .hamburger-active {
    display: flex;
  }

  /* start breakpoint style hero */
  .container-hero {
    padding: 80px 25px 25px 25px;
    display: flex;
  }

  .container-hero .info-hero {
    padding: 10px;
  }

  .container-hero .info-hero .sub-hero {
    font-size: 16px;
  }

  .container-hero .info-hero .title-hero {
    font-size: 15px;
  }
  .container-hero .info-hero .description-hero {
    font-size: 16px;
  }
  .container-hero .info-hero .order-now button {
    padding: 12px 24px 12px 24px;
    font-size: 15px;
  }

  .container-hero .img-hero {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
  .container-hero .img-hero .container-img-hero {
    margin-left: 15px;
  }

  .container-hero .img-hero .container-img-hero .img-one {
    grid-area: img-one;
    width: 130px;
  }
  .container-hero .img-hero .container-img-hero .img-two {
    grid-area: img-two;
    width: 120px;
  }
  .container-hero .img-hero .container-img-hero .img-tri {
    grid-area: img-tri;
    width: 130px;
  }
  .container-hero .img-hero .container-img-hero .img-four {
    grid-area: img-four;
    width: 120px;
  }
  /* end breakpoint style hero */
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .container-hero .info-hero .sub-hero {
    font-size: 15px;
  }

  .container-hero .info-hero .title-hero {
    font-size: 15px;
  }
  .container-hero .info-hero .description-hero {
    font-size: 15px;
  }
  .container-hero {
    padding: 80px 15px 25px 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .container-hero .info-hero {
    padding: 10px;
    width: 100%;
  }
  .container-hero .img-hero {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-left: 0px;
  }
  .container-hero .img-hero .container-img-hero {
    margin-left: 0px;
  }
  .container-hero .img-hero .container-img-hero .img-one {
    grid-area: img-one;
    width: auto;
  }
  .container-hero .img-hero .container-img-hero .img-two {
    grid-area: img-two;
    width: auto;
  }
  .container-hero .img-hero .container-img-hero .img-tri {
    grid-area: img-tri;
    width: auto;
  }
  .container-hero .img-hero .container-img-hero .img-four {
    grid-area: img-four;
    width: 50%;
  }

  /* style start menu */
  .container-menu {
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: rgb(199, 35, 35);
    display: flex;
    column-gap: 15px;
    overflow: scroll;
    margin-top: 30px;
  }

  .container-menu .card-menu {
    width: 150px;
    background-color: white;
    border-radius: 5px;
  }
  .container-menu .card-menu .img-menu img {
    width: 90px;
  }

  .container-menu .card-menu .title-menu{
    font-size: 17px;
  }
  /* style end menu */

  /* style start about */
  .container-about {
    width: 100%;
    padding: 20px 15px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
  }

  .container-about .img-about {
    width: 100%;
  }
  .container-about .img-about img {
    width: 75%;
  }

  .container-about .info-about {
    padding-top: 15px;
  }

  .container-about .info-about .sub-about {
    font-size: 17px;
  }

  .container-about .info-about .title-about {
    font-size: 15px;
  }

  .container-about .info-about .description-about {
    font-size: 15px;
  }

  .container-about .info-about .icons-about {
    width: 100%;
    justify-content: space-between;
    column-gap: 0px;
  }

  .container-about .info-about .icons-about .card-icons {
    width: 49%;
    padding: 10px 25px 10px 25px;
    column-gap: 0px;
    margin-bottom: 5px;
  }
  .container-about .info-about .icons-about .card-icons img {
    width: 21px;
    margin-right: 10px;
  }

  .container-about .info-about .icons-about .card-icons .title-icons {
    font-size: 12px;
    font-weight: 200;
  }
  /* style end about */

  /* style populer start */
  .container-populer {
    padding: 50px 15px 25px 15px;
    margin-bottom: 35px;
  }

  .container-populer .populer-title {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .container-populer .populer-title h2 .border-title {
    border-bottom: 3px solid rgb(223, 28, 28);
  }

  .container-populer .wrapper-populer {
    width: 100%;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 10px;
  }

  .container-populer .wrapper-populer .card-popouler {
    border-radius: 5px;
    width: 385px;
    height: 450px;
  }

  .container-populer .wrapper-populer .card-popouler .info-populer {
    position: absolute;
    padding: 20px;
  }

  .container-populer
    .wrapper-populer
    .card-popouler
    .info-populer
    .description-populer
    h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .container-populer
    .wrapper-populer
    .card-popouler
    .info-populer
    .description-populer {
    font-weight: 200;
    font-size: 15px;
    font-family: "Gothic A1", sans-serif;
  }

  .container-populer
  .wrapper-populer
  .card-popouler
  .info-populer
  .order-now
  button {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Gothic A1", sans-serif;
  cursor: pointer;
}
  /* style populer end */

  /* stye footer start */
  .container-footer {
    padding: 25px 15px 25px 15px;
  }

  .container-footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 35px;
  }

  .container-footer .wrapper .info-wrapper {
    width: 100%;
  }

  .container-footer .wrapper .info-wrapper .title-wrapper {
    font-size: 15px;
  }

  .container-footer .wrapper .info-wrapper .description-wrapper {
    font-size: 15px;
  }

  .container-footer .wrapper .open-hours {
    width: 100%;
  }

  .container-footer .wrapper .open-hours .title-hours{
    font-size: 15px;
  }

  .container-footer .wrapper .open-hours .day-open .day {
    font-size: 15px;
  }

  .container-footer .wrapper .open-hours .day-open .hours{
    font-size: 15px;
  }

  .container-footer .wrapper .news-letter {
    width: 100%;
  }
  
  .container-footer .wrapper .news-letter .title-news{
    font-size: 15px;
  }

  .container-footer .wrapper .news-letter .descrip-news{
    font-size: 15px;
  }

  .container-footer .owner {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
  }
  /* stye footer end */
}
